
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <div class="container">
    <a class="navbar-brand" href="{% url 'tickets' %}">Ticketing</a>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active"  href="{% url 'tickets' %}">Tickets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'tickets-create' %}">New ticket</a>
        </li>
      <li class="nav-item">
           <button id="color-mode" class="nav-link text-decoration-none btn btn-dark">
          <i class="bi bi-brightness-high-fill"></i>
      </button>
      </li>
      </ul>

    </div>
</nav>